.select{
    margin-left: 20px;
    width: 200px;
    height: 48px;
   // background-color:#b03b8b3d;
}
#BtnCompare{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7E2161;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}