.nogood{
    font-weight: bold;
    font-style: italic;
    color: #F7DC6F;
}

.good{
    font-weight: bold;
    font-style: italic;
    color: #76D7C4;
}

.bad{
    font-weight: bold;
    font-style: italic;
    color: #F0B27A;
}

.fuck{
    font-weight: bold;
    font-style: italic;
    color: #D98880;
}

.home {
    text-align: center;
}

#don{
    width: 100%;
}

#CtnFlag {
    width: 20%;
    display: flex;
    align-items:center;
    justify-content: center;
}

@media (max-width: 380px) { 
    #CtnFlag{
        display: none;
    }
}

#CtnDona{
    width: 50%;
    display: flex;
    //justify-content: center;
    flex-direction: column;
    align-items: center;
    //background-color: blueviolet;
}

#CtnCompare{
    width: 40%;
}

#Cont2Graphs{
    width: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: row;
    //background-color: burlywood; 
    padding-top: 10px;
    margin-bottom: 50px;
}
@media(max-width: 1000px){
    #Cont2Graphs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #CtnDona{
        width: 90%;
    }
    #CtnCompare{
        width: 80%;
    }

}


/*
#CntData{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: brown;
}*/