.home {
    width: 100vw ;
    height: 100% ;
    margin: 0 ;
    border: 0 ;
    padding: 0;
    position: relative;
}

#NavBar{
    width: 100vw;
    height: 80px;
    background-color: #7E2161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

#NavBar h1{
    font-style: italic;
    color: white;
    font-size: 40px;
}

#NavBar2{
    width: 100vw;
    height: 80px;
    background-color: rgba(126, 33, 97, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

#NavBar2 h2{
    font-style: normal;
    color: white;
}

#Footer{
    height: 100px;
}

.Logo{
    width: 50px;
    height: 50px;
}

#CtnLogo{
    width: 20px;
    height: 20px;
}

.ingrapesLogo {
    height: 200px;
    width: 200px;
}

#GnrContLine{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#CtnLineGraph{
    width: 70%;
}

@media(max-width: 1000px){
    #CtnLineGraph{
        width: 80%;
    }
    @media(max-width: 640px){
        #NavBar2 h2{
            font-size: medium;
        }
        .Logo{
            width: 40px;
            height: 40px;
        }
        @media(max-width: 480px){
            #NavBar2 h2{
                font-size: small;
            }
            .Logo{
                width: 30px;
                height: 30px;
            }
        }
    }
}